<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="home.css">
        <link rel="icon" href="{{ url_for('static', filename='styles/image/unnamed.png')}}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css')}}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <body>
        <input type="checkbox" id="check">
        <header>
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>
            <div  class="left_area">
                <h3>Guong <span>Tuong Tac</span></h3>
            </div>
            <!-- <div class="right_area">
                <a href="#" class="button">home</a>
            </div> -->
        </header>
         <div class="sidebar">
            <center>
                <img src="static/styles/image/unnamed.png" alt="">
                <h4>Hi</h4>
            </center>
            <a href="{{ url_for('home') }}" id="information"><i class="fas fa-users"></i><span>Information</span></a>
            <a href="{{ url_for('show') }}" id="show"><i class="fas fa-desktop"></i><span>Show</span></a>
            <a href="{{ url_for('loading') }}" id="choise"><i class="fas fa-tshirt"></i><span>Choose clothes</span></a>
         </div>
         <div class="content">
             <h1>Introduction</h1>
             <p>Magic mirror? Magic is created on an LCD screen.
                BYT multi-point remote touch screen is designed for retail fashion stores, exhibition counters, ...
                that is applied with AR technology is now integrated beyond the purely online scope, when it is installed and used in stores, shopping places, and malls. It will bring an uninterrupted shopping experience, no waiting, no effort for customers.
            </p><p>Doing business wisely, besides product development, is about finding ways to approach and interact with customers differently. BYT will help you do that.</p>
         </div>
    </body>
</html>